<div class="container">

  <!-- # TODO:  -->
  <!-- 1. If user is not signed in - display "Welcome". -->
  <!-- 2. If user is signed in then  display all users %> -->
  <% if current_user %>
    <ul>
      <% @user.each do |user| %>
        <li><%= user.name %></li>
      <% end %>
    </ul>
  <% else %>
    <h2> Welcome to the home page!! </h2>
  <% end %>
</div>
